<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="JamSyck">
    <meta name="keywords" content="about, doaxvv, api, api rest">
    <meta name="description" content="I'll tell you some extra information about the development of this REST API">
    <meta property="og:title" content="About | DOAXVV API">
    <meta property="og:description" content="I'll tell you some extra information about the development of this REST API">
    <meta property="og:image" content="https://images2.imgbox.com/01/91/Zt9BDYCQ_o.jpg">
    <meta property="og:type" content="website">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="About | DOAXVV API">
    <meta property="twitter:description" content="I'll tell you some extra information about the development of this REST API">
    <meta property="twitter:image" content="https://images2.imgbox.com/01/91/Zt9BDYCQ_o.jpg">
    <link rel="shortcut icon" href="/img/icon.jpg" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>About | DOAXVV API</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>ABOUT</h1>
    <main>
        <u><h2>What is this?</h2></u>
        <p>This is a REST API based on the japanese game developed by TEAM NINJA, Dead Or Alive Xtreme Venus Vacation (DOAXVV). This API only provides information about the girls, from the basics to the most characteristic of each one.</p>
        <br>
        <u><h2>Why did you build this?</h2></u>
        <p>The idea of ​creating an API like the others that exist based on video games or movies came to my mind. And since there isn't one for my favorite game, I took the initiative to create it myself. I was also inspired by the <a href="https://rickandmortyapi.com/" target="_blank">Rick and Morty API</a>.</p>
        <br>
        <u><h2>Who are you?</h2></u>
        <p>I am a guy learning programming and web development with the purpose of improving in this area and with the possibility of getting a job in this environment.</p>
        <br>
        <u><h2>Technical stuff?</h2></u>
        <p>This project was developed with NodeJS and deployed on VERCEL. The hosting sites I used to store the images were <a href="https://imgbox.com/" target="_blank">imgbox</a> and the one for the songs was <a href="https://downloads.khinsider.com/" target="_blank">khinsider</a>.</p>
        <br>
        <u><h2>Copyright?</h2></u>
        <p>I do not claim to own the game's resources and information, so with all due respect, all credit goes to the developers "KOEI TECMO & TEAM NINJA".</p>
        <br>
        <u><h2>Does this amazing game catch your attention?</h2></u>
        <p>After seeing all the content about the game, I encourage you to visit its official website to download the game.</p>
        <div class="cover">
            <img src="/img/cover.jpg" alt="DOAXVV">
            <a id="access1" href="https://doax-venusvacation.jp/" target="_blank" class="btn btn-success" title="Official Site">
                <i class="bx bx-world"></i>
            </a>
            <a id="access2" href="https://steamdb.info/app/958260/" target="_blank" class="btn btn-primary" title="Steam Data">
                <i class="bx bxl-steam"></i>
            </a>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>