<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="JamSyck">
    <link rel="shortcut icon" href="/img/icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/404.css">
    <title>Page Not Found</title>
</head>
<body>
    <main class="box">
        <div class="b-left">
            <img src="/img/chibi.png">
        </div>
        <div class="b-right">
            <h1>404</h1>
            <h2>Page Not Found!</h2>
            <p>Oops, it seems the page you are trying to visit was not found or does not exist.</p>
            <br>
            <a href="/">Go To Home</a>
        </div>
    </main>
</body>
</html>